#general {
    prevent-advancement-broadcasts: on;
}

#data {
	filter-method: blacklist;
    filter-namespace: unset;
    filter-path: unset;
    filter-recipes: on;
}

#client {
    remove-advancements-button: on;
    remove-advancements-keybinding: on;
    remove-advancement-toasts: on;
    remove-recipe-toasts: on;
}
